.about-component {
  background-color: #f4f4f9;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background-color: rgba(180, 132, 235, 0.5);
  width: 880px;
}

.about-component h2 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: bold;
}

.about-component p {
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 15px;
}

.about-component strong {
  color: #0073e6;
}

.about-component p:last-child {
  margin-bottom: 0;
}
